// Colors
$main: #F0F2F5;

// Spacing
$s-size: 1.3rem;
$m-size: 1.5rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

// Align
@mixin flexCenter {
    display: flex;
    align-items: center;
}